{% extends "base.html" %}                                                                                         
                                                                                                                      
    {% block title %}Login{% endblock %}                                                                              
                                                                                                                      
    {% block content %}                                                                                               
    <div class="row justify-content-center">                                                                          
        <div class="col-md-6 text-center">                                                                            
            <h1 class="mb-4">Welcome to Personal Finance Coach</h1>                                                   
            <p class="mb-4">Please log in to access your financial dashboard</p>                                      
            <a href="{{ url_for('auth.login', domain=AUTH0_DOMAIN, client_id=AUTH0_CLIENT_ID, redirect_uri=AUTH0_REDIRECT_URI) }}" class="btn btn-primary">                                            
                Login with Auth0                                                                                      
            </a>                                                                                                      
        </div>                                                                                                        
    </div>                                                                                                            
    {% endblock %}     