{% extends "base.html" %}

{% block content %}
<div class="text-center hero">
  {% if session %}
    <h1 class="mb-4">Welcome {{ session.userinfo.name }}!</h1>
    <p class="lead">You are logged in!</p>
    <pre>{{ pretty }}</pre>
    <a href="/logout" class="btn btn-primary">Logout</a>
  {% else %}
    <h1 class="mb-4">Welcome to Personal Finance Coach</h1>
    <p class="lead">Login to manage your finances</p>
    <a href="/login" class="btn btn-primary">Login</a>
  {% endif %}
</div>
{% endblock %}